<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap.bundle.min.js">
</head>
<h1>user editor</h1>

<body>
    <div class="card" style="width: 18rem;">
        <div class="card-header bg-primary">
            <a href="/adminboard" class="text-dark">back to admin board</a>
        </div>
        <ul class="list-group list-group-flush">
            <form action="/user/update" method="post">
                <input hidden class="list-group-item" name="id" value="<%- data.user.id %>">
                <input class="list-group-item" name="fname" value="<%-data.user.fname%>">
                <input class="list-group-item" name="lname" value="<%-data.user.lname%>">
                <input class="list-group-item" name="username" value="<%-data.user.username%>">
                <input class="list-group-item" name="password" value="<%-data.user.password%>">
                <input class="list-group-item" name="score" value="<%-data.user.score%>">
                <input type="submit" value="update">
            </form>
        </ul>
    </div>
</body>

</html>